/*@import url('https://fonts.googleapis.com/css2?family=Poetsen+One&display=swap');
*/

@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins";
  /*
    font-family: "Poetsen One";*/
}

body::-webkit-scrollbar {
  width: 12px;
}

body::-webkit-scrollbar-thumb {
  background: #444;
  border-radius: 0 15px 15px 0;
}

body::-webkit-scrollbar-track {
  background: transparent;
}

.contenedor {
  padding: 60px 0;
  width: 90%;
  max-width: 1000px;
  margin: auto;
  overflow: hidden;
}

.titulo {
  color: #2a5273;
  font-size: 30px;
  text-align: center;
  margin-bottom: 60px;
}

/* Header */

header {
  width: 100%;
  height: 650px;
  background: linear-gradient(to right, #66cbd295, #bee9e965), url(/static/img/plants/fondo.jpeg);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  background-size: cover;
  background-attachment: fixed;
  position: relative;
}

/* STAR NAV MENU */
.navv {
  position: fixed;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 25px;
  transition: all 0.5s ease;
  margin-top: 0px;
}

.navv.abajo {
  background-color: #0f484cbb;
  padding: 15px;
  z-index: 10000000;
}

.navv.abajo .menu a {
  color: white;
  text-decoration: none;
  font-weight: 500;
}

.navv.abajo .menu a:hover {
  padding: 5px 10px;
  background: white;
  color: black;
  border-radius: 15px;
}

.logo img {
  width: 80px;
}

.menu {
  display: flex;
}

.menu li {
  list-style: none;
  margin: 10px;
}

.menu li a {
  color: white;
  text-decoration: none;
  font-weight: 500;
  transition: all 05s ease;
}

.menu li a:hover {
  padding: 5px 10px;
  background: white;
  color: black;
  border-radius: 15px;
  font-weight: 400;
}

.scroll {
  height: 100px;
  height: 0%;
}

/* END NAV MENU */

nav > a {
  color: #fff;
  font-weight: 300;
  text-decoration: none;
  margin-right: 10px;
}

nav > a:hover {
  text-decoration: underline;
}

header .textos-header {
  display: flex;
  height: 430px;
  width: 100%;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}

.textos-header h1 {
  font-size: 50px;
  color: #fff;
}

.textos-header h2 {
  font-size: 30px;
  font-weight: 300;
  color: #fff;
}

.wave {
  position: absolute;
  bottom: 0;
  width: 100%;
}

/* Administrtion*/

main .Administration {
  padding: 30px 0 60px 0;
}

.titulo {
  color: #4d0686;
}

.contenedor-Administration {
  display: flex;
  justify-content: space-evenly;
}

.imagen-about-us {
  width: 48%;
}

.Administration .contenido-textos {
  width: 48%;
}

.contenido-textos h3 p {
  margin-bottom: 15px;
  text-align: center;
}

.contenido-textos h3 span {
  background: #4d0686;
  color: #fff;
  border-radius: 50%;
  display: inline-block;
  text-align: center;
  width: 30px;
  height: 30px;
  padding: 2px;
  box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.5);
  margin-right: 5px;
}

.contenido-textos p {
  padding: 0px 0px 30px 15px;
  font-weight: 300;
  text-align: justify;
}

/* HORARIOS*/

.portafolio {
  background: #f2f2f2;
}

.galeria-port {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.imagen-port {
  width: 24%;
  margin-bottom: 10px;
  overflow: hidden;
  position: relative;
  cursor: pointer;
  box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.5);
}

.imagen-port > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

.hover-galeria {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  transform: scale(0);
  background: #92dadf8c;
  transition: transform 0.5s;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.hover-galeria img {
  width: 50px;
}

.hover-galeria p {
  color: #fff;
  font-weight: bold;
}

.imagen-port:hover .hover-galeria {
  transform: scale(1);
}

hr {
  width: 75%;
  color: white;
  padding: 0;
}

/* Profesionales*/

.cards {
  display: flex;
  justify-content: space-evenly;
  margin-bottom: -5%;
}

.cards > .card-hover:not(:hover) {
  transition: all 0.9s ease-in-out;
}

.cards > .card-hover:is(:hover) {
  background-color: #1a7f85;
  font-size: calc(100% + 5px);
  transition: all 0.5s ease-in;
}

.cards .card {
  background: #3bbcc5;
  display: flex;
  width: 46%;
  height: 200px;
  align-items: center;
  justify-content: space-evenly;
  border-radius: 5px;
  box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.6);
}

.cards .card img {
  width: 100px;
  height: 100px;
  object-fit: cover;
  border: 3px solid #fff;
  border-radius: 50%;
  display: block;
}

.cards .card > .contenido-texto-card {
  width: 60%;
  color: #fff;
}

.cards .card > .contenido-texto-card p {
  font-weight: 300;
  padding-top: 5px;
}

.br {
  width: 75%;
  color: blanchedalmond;
}

/*  Novedades */

.about-services {
  background: rgba(240, 240, 240, 1);
  padding-bottom: 30px;
}

.servicio-cont {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.servicio-ind {
  width: 33%;
  text-align: center;
  border-radius: 5px;
  background-color: #3bbcc5;
  padding: 20px;
  transition: all 0.128s ease-in;
  margin-left: 25px;
  margin-right: 25px;
}

.servicio-ind:hover {
  background-color: #3ba1c5;
  font-size: calc(100% + 0.2px);
  transition: all 0.5s ease-in;
}

.servicio-ind img {
  height: 170px;
  border-radius: 5px;
  margin-bottom: 20px;
}

.servicio-ind:hover a {
  color: #00b;
  transition: all 0.156s ease-in;
}

.servicio-ind a {
  text-decoration: none;
  color: #33c;
  transition: all 0.156s ease-in;
}



/* footer */

footer {
  background: #414141;
  padding: 60px 0 30px 0;
  margin: auto;
  overflow: hidden;
  height: 3%;
}

.contenedor-footer {
  display: flex;
  width: 90%;
  justify-content: space-evenly;
  margin: auto;
  padding-bottom: 50px;
  border-bottom: 1px solid #ccc;
}

.content-foo {
  text-align: center;
}

.content-foo h4 {
  color: #fff;
  border-bottom: 3px solid #3ba1c5;
  padding-bottom: 5px;
  margin-bottom: 10px;
}

.content-foo p {
  color: #ccc;
}

.titulo-final {
  text-align: center;
  font-size: 24px;
  margin: 20px 0 0 0;
  color: #9e9797;
}

/* COVID 19*/
.contenido-textos h3 {
  align-items: center;
  padding-top: 0px;
}

.contenido-textos h5 {
  float: right;
}

/* CUIDADOS */
.galeria-port2 {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.imagen-port2 {
  width: 24%;
  margin-bottom: 10px;
  overflow: hidden;
  position: relative;
  cursor: pointer;
  box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.5);
}

.imagen-port2 > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

.imagen-port2:hover {
  width: 40%;
  position: absolute;
  z-index: 100000000000000000;
}

/* Products */

.products {
  background: #f2f2f2;
}

.products .card {
  background: #fff;
  border-radius: 5px;
  box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.6);
  overflow: hidden;
  margin: 20px;
  text-align: center;
  transition: all 0.25s;
}

@media screen and (max-width: 900px) {
  header {
    background-position: center;
  }

  .contenedor-sobre-nosotros {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .sobre-nosotros .contenido-textos {
    width: 90%;
    align-items: center;
  }

  .imagen-about-us {
    width: 90%;
  }

  /* Galeria */

  .imagen-port {
    width: 44%;
  }

  /* Clientes */

  .cards {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .cards .card {
    width: 90%;
  }

  .cards .card:first-child {
    margin-bottom: 30px;
  }

  /* servicios */

  .servicio-cont {
    justify-content: center;
    flex-direction: column;
  }

  .servicio-ind {
    width: 100%;
    text-align: center;
  }

  .servicio-ind:nth-child(1),
  .servicio-ind:nth-child(2) {
    margin-bottom: 60px;
  }

  .servicio-ind img {
    width: 90%;
  }
}

@media screen and (max-width: 500px) {
  nav {
    text-align: center;
    padding: 30px 0 0 0;
  }

  nav > a {
    margin-right: 5px;
  }

  .textos-header h1 {
    font-size: 35px;
  }

  .textos-header h2 {
    font-size: 20px;
  }

  /* ABOUT US */

  .imagen-about-us {
    margin-bottom: 60px;
    width: 99%;
  }

  .sobre-nosotros .contenido-textos {
    width: 95%;
  }

  /* Galeria */

  .imagen-port {
    width: 95%;
  }

  /* Clients */

  .clientes .contenedor {
    width: 600px;
    height: 450px;
    display: inline-block;
    margin-bottom: 20px;
  }

  .cards .card img {
    width: 90px;
    height: 90px;
  }

  /* Footer */

  .contenedor-footer {
    flex-direction: column;
    border: none;
  }

  .content-foo {
    margin-bottom: 20px;
    text-align: center;
  }

  .content-foo h4 {
    border: none;
  }

  .content-foo p {
    color: #ccc;
    border-bottom: 1px solid #f2f2f2;
    padding-bottom: 20px;
  }

  .titulo-final {
    font-size: 20px;
  }
}
