<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>ResQ</title>
    <link rel="shortcut icon" href="static/img/logo.png" type="image/x-icon">
    <link rel="stylesheet" href="static/css/estilos.css">
    <link rel="stylesheet" href="static/css/MenuFlex.css">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,700,800&display=swap" rel="stylesheet">
</head>

<body>

    <header>
        <nav class="navv">
            <div class="logo"><img class="logo" src="static/img/logo.png"></div>
            <ul class="menu">
                <li><a href="/">Inicio</a></li>
                <li><a href="#Animales-Adopcion">Animales en Adopción</a></li>
                <li><a href="#Consejos">Consejos</a></li>
                <li><a href="/productos">Productos</a></li>
                <li><a href="/nosotros">Sobre Nosotros</a></li>
            </ul>
        </nav>

        <section class="textos-header">
            <h1>SmartRoot</h1>
            <h2>Automatiza el riego y monitorea tus plantas</h2>
        </section>

        <div class="wave" style="height: 150px; overflow: hidden;">
            <svg viewBox="0 0 500 150" preserveAspectRatio="none" style="height: 100%; width: 100%;">
                <path d="M0.00,49.98 C150.00,150.00 349.20,-50.00 500.00,49.98 L500.00,150.00 L0.00,150.00 Z"
                    style="stroke: none; fill: rgba(240, 240, 240, 1);">
                </path>
            </svg>      
        </div>
    </header>
    <main>
        <section class="portafolio">
            <div class="contenedor">
                <p class="titulo" id="Animales-Adopcion">En SmartRoot creemos que el cuidado de tus plantas es primordial y que la vida cotidiana de cada persona no deja mucho tiempo libre para darles los cuidados que necesitan. 
                    <br>
                    Por eso en SmartRoot creamos nuestros dos modelos de riego inteligente para el cuidado de tus plantas.
                    <br>
                    Ahora tener rus plantas verdes y llenas de vida, no es una tarea difícil.</p>
                <div class="galeria-port">
                    <div class="imagen-port">
                        <img src="static/img/plants/Dolar.png" alt="">
                        <div class="hover-galeria">
                            <p><b>Dolar</b></p>
                            <hr>
                            <p>80%-85%</p>
                        </div>
                    </div>
                    <div class="imagen-port">
                        <img src="static/img/plants/Cactus.png" alt="">
                        <div class="hover-galeria">
                            <p><b>Cactus</b></p>
                            <hr>
                            <p>20%-30%</p>
                        </div>
                    </div>
                    <div class="imagen-port">
                        <img src="static/img/plants/Helechos.png" alt="">
                        <div class="hover-galeria">
                            <p><b>Helechos</b></p>
                            <hr>
                            <p>80%-85%</p>
                        </div>
                    </div>
                    <div class="imagen-port">
                        <img src="static/img/plants/Monstera.png" alt="">
                        <div class="hover-galeria">
                            <p><b>Monstera</b></p>
                            <hr>
                            <p>60%-80%</p>
                        </div>
                    </div>
                    <div class="imagen-port">
                        <img src="static/img/plants/Potus.png" alt="">
                        <div class="hover-galeria">
                            <p><b>Potus</b></p>
                            <hr>
                            <p>55%</p>
                        </div>
                    </div>
                    <div class="imagen-port">
                        <img src="static/img/plants/Saintpaulia.png" alt="">
                        <div class="hover-galeria">
                            <p><b>Saintpaulia</b></p>
                            <hr>
                            <p>50%-70%</p>
                        </div>
                    </div>
                    <div class="imagen-port">
                        <img src="static/img/plants/Suculenta.png" alt="">
                        <div class="hover-galeria">
                            <p><b>Suculenta</b></p>
                            <hr>
                            <p>40%-50%</p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="clientes contenedor">
            <h2 class="titulo" id="Quirofano-movil">Podés obtener semillas</h2>
            <div class="cards">
                <div class="card card-hover">
                    <img src="static/img/quirofano.jpg" alt="">
                    <div class="contenido-texto-card">
                        <h4 class="content">INTA - Mañana</h4>
                        <p>Las Catitas - Santa Rosa</p>
                        <p>8:00 - 12:30</p>
                    </div>
                </div>
                <div class="card card-hover">
                    <img src="static/img/quirofano.jpg" alt="">
                    <div class="contenido-texto-card">
                        <h4 class="content">INTA - Tarde</h4>
                        <p>Las Catitas - Santa Rosa</p>
                        <p>17:30 - 21:15</p>
                    </div>
                </div>
            </div>
        </section>
    </main>
    <footer id="footer">
        <div class="contenedor-footer">
            <div class="content-foo">
                <h4>Telefono</h4>
                <p>2634225762</p>
            </div>
            <div class="content-foo">
                <h4>Email</h4>
                <p>episodiodosmendozafutura@gmail.com</p>
            </div>
            <div class="content-foo">
                <h4>Dirección</h4>
                <p>Santa Rosa</p>
            </div>
        </div>
        <h2 class="titulo-final">&copy;Conectados Por Mendoza Futura | Santa Rosa</h2>
    </footer>
    <div class="scroll">

    </div>
    <script src="{{ url_for('static', filename='js/menu.js')}}"></script>

</body>

</html>